.list {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'login logo signup';
    padding-block: 1.5rem;
    // You can add this so in chrome the tab-order follows the visual order
    reading-flow: grid-columns;

    @media (min-width: 600px) {
        grid-template-columns: 6rem 6rem 1fr 6rem 6rem;
        grid-template-areas: '_ _ logo login signup';
    }
}

.login {
    grid-area: login;
    justify-self: start;

    @media (min-width: 600px) {
        justify-self: end;
    }
}

.logo {
    grid-area: logo;

    img {
        width: 4.5rem;
    }

    &:not(:hover) {
        filter: brightness(0);
    }
}

.signup {
    grid-area: signup;
    justify-self: end;
}
