@layer reset {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    ul, ol, li {
        padding: 0;
        margin: 0;
    }
}

@font-face {
    font-family: "Uncut";
    src: url("/fonts/UncutSans-Regular.woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Uncut";
    src: url("/fonts/UncutSans-Bold.woff2");
    font-weight: bold;
    font-display: swap;
}

body {
    --blue: #0590cb;
    --yellow: #f9c558;
    --green: #00b99a;
    --purple: #8b7fff;

    font-family: "Uncut", sans-serif;
    margin: 0 2rem;

    background-image: url("./images/home-shapes-mobile.svg");
    background-repeat: repeat;

    @media(min-width: 600px) {
        background-image: url("./images/home-shapes-full.svg");
    }

}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    max-width: 20ch;
    line-height: 1;
    text-wrap: balance;
}

h1 {
    font-size: 3rem;

    @media(min-width: 600px) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color: #777;
    max-width: 40ch;
}

.example-image {
    max-width: 50rem;
    width: 100vw;
    margin-block: 7rem;
}